---
import DiagnosticBtn from "./DiagnosticBtn.astro"
---

<section
  class="flex justify-center p-6 py-20 bg-neutral-100 gap-8 max-md:flex-col max-lg:items-center xl:gap-10"
  id={Astro.props.id}
>
  <img
    src={Astro.props.imageMobile}
    alt={Astro.props.imageMobileAlt}
    class="flex-shrink-0 h-[250px] object-cover w-lg shadow-md rounded-xl hidden max-md:block"
  />
  <div class="lg:max-w-[1000px]">
    <slot name="title"/>
    <p class="mb-4 lg:text-2xl">
      <slot name="description" />
    </p>
    <DiagnosticBtn />
  </div>
  <img
    src={Astro.props.imagePC}
    alt={Astro.props.imagePCAlt}
    class="w-[300px] h-[650px] object-cover flex-shrink-0 shadow-md rounded-xl hidden md:block lg:w-[380px]"
  />
</section>
